@model IEnumerable<ServicesCourse.Models.Subsection>

@{
    ViewData["Title"] = "Подразделы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Подразделы сервисов</h1>

<p>
    <a class="text-decoration-none" asp-action="Create">Добавить подраздел</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubscetionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubscetionName)
            </td>
            <td>
                @if(item.Id != 1){
                    <a class="text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">Изменить</a ><span> | </span> 
                    <a class="text-success text-decoration-none" asp-action="Details" asp-route-id="@item.Id">Подробнее </a> <span> | </span> 
                    <a class="text-danger text-decoration-none" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
