@model IEnumerable<ServicesCourse.Models.History>

@{
    ViewData["Title"] = "История посещений";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Отчёты</h1>
<hr />
<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="text-decoration-none" asp-controller="Histories" asp-action="ActiveServicesToExcel">Список активных сервисов</a></li>
        <li class="list-group-item"><a class="text-decoration-none" asp-controller="Histories" asp-action="ActiveServicesBySectionToExcel">Активные сервисы по разделам</a></li>
        <li class="list-group-item"><a class="text-decoration-none" asp-controller="Histories" asp-action="AccessHistoryToExcel">Информация о посещениях</a></li>
        <li class="list-group-item"><a class="text-decoration-none" asp-controller="Histories" asp-action="TopAccessServicesToExcel">Пять самых посещаемых сервисов</a></li>
        <li class="list-group-item"><a class="text-decoration-none" asp-controller="Histories" asp-action="NotVisitedServicesToExcel">Список не посещенных сервисов</a></li>
    </ul>
</div>
<hr />

<h1>Последние 500 посещений</h1>
<span><a class="text-decoration-none" asp-controller="Histories" asp-action="GetAllHistoryToExcel">Выгрузить историю</a></span>

<hr />
<div class="row">
    <div class="col-md-3">
        <form>  
            <label>Введите логин пользователя:</label>
            <input class="form-control" id="myInput" type="text">
        </form>
    </div>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessTime)
            </th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model.OrderByDescending(s => s.AccessTime).Take(500))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessTime)
                </td>
                <td>
                    @Html.ActionLink("Подробнее", "Details", new { login = item.Login, accessTime = item.AccessTime},
                new { @class = "text-decoration-none text-success"})
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).find("td:eq(0)").text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
}