@model IEnumerable<ServicesCourse.Models.Service>

@{
    ViewData["Title"] = "Сервисы";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var services = ViewData["Sections"] as IEnumerable<SelectListItem>;
}

<h1>Сервисы</h1>

<p>
    <a class="text-decoration-none" asp-action="Create">Добавить сервис</a>
</p>
<hr />
<h4>Фильтр</h4>
<div>
    <form method="post">
        <div class="p-2 col-xs-8 col-sm-8 col-md-2" id="filters">
            <label>Раздел</label>
            <select class="form-control" asp-items=services name="sectionName">
                <options>Все</options>
            </select>
        </div>
        <div class="p-2 col-xs-8 col-sm-8 col-md-2">
             <input style="margin-left: 5px" type="checkbox" name="status" value="true" class="form-check-input" />
             <label style="margin-left: 25px"class="form-check-label">Активен</label>
        </div>
        <div class="p-2">
            <button type="submit" class="btn btn-primary">Применить фильтры</button>
        </div>
    </form>
    <div class="p-2">
        <a class="text-decoration-none" asp-controller="Services" asp-action="Index">Сбросить фильтры</a>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subsection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subsection.Section.SectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityStatus)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    <p style="overflow-wrap: anywhere">@Html.DisplayFor(modelItem => item.AboutService)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subsection.SubscetionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subsection.Section.SectionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityStatus)
                </td>

                <td>
                    <a class="text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a class="text-decoration-none text-success" asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a class="text-decoration-none text-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
